<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div *ngFor="let i of data" class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">
                    
                
                  <div class="card" style="background-color:rgb(173, 22, 105) ">
                    <img height="300px" src="https://tse2.mm.bing.net/th?id=OIP.WoyenUuC0DS3NT7h0usJIwHaEK&pid=Api&P=0&w=343&h=193" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 style="color:darkorange"class="card-title">{{i.courseTitle}}</h5>
                      <br />
                      <h5 style="color:darkorange"class="card-title">ID : {{i._id}}</h5>
                      
                      
                      </div>
                      <h6 style="color:darkorange"class="card-subtitle mb-2 text-muted">{{i.courseDate}}</h6>
                      <p style="color:darkorange"class="card-text">{{i.courseDescription}} </p>
                      <a href="#" class="card-link">{{i.courseVenue}}</a>
                      <a href="#" class="card-link">{{i.courseDate}}</a>
                    </div>
                  </div>
                
                
            </div>
        </div>
    </div>
</div>
