<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" style="background-color:rgb(161, 22, 115)" >
                        <img height="350px" src="https://as1.ftcdn.net/v2/jpg/05/14/92/96/1000_F_514929695_cmofpfm4Wj0E69z2n3y6Z0Fhibrdy5uu.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 style="color:darkorange"class="card-title">BCA</h5>
                          
                          <a href="#" class="btn btn-warning">Purchase</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" style="background-color:rgb(161, 22, 115)" >
                        <img height="350px"src="https://img.freepik.com/free-vector/brain-with-digital-circuit-and-programmer-with-laptop-machine-learning-artificial-intelligence-digital-brain-and-artificial-thinking-process-concept-vector-isolated-illustration_335657-2246.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 style="color:darkorange"class="card-title">BSc Psychology </h5>
                          
                          <a href="#" class="btn btn-warning">Purchase</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" style="background-color:rgb(161, 22, 115)" >
                        <img height="350px"src="https://tse2.mm.bing.net/th?id=OIF.HMmTneNw6JWGKlqZsWqPog&pid=Api&P=0&w=190&h=95" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 style="color:darkorange"class="card-title">BBA</h5>
                          
                          <a href="#" class="btn btn-warning">Purchase</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" style="background-color:rgb(161, 22, 115)" >
                        <img height="350px"src="https://c8.alamy.com/comp/2JEKGGN/filling-tax-form-tax-payment-accounting-financial-management-corporate-tax-taxable-income-concept-3d-vector-icon-cartoon-minimal-style-2JEKGGN.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 style="color:darkorange"class="card-title">Bcom Tax</h5>
                          
                          <a href="#" class="btn btn-warning">Purchase</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" style="background-color:rgb(161, 22, 115)" >
                        <img height="350px" src="https://ae01.alicdn.com/kf/Hd410de1d4a774fab8e12a15d5d0dc6bfT/Meihuida-Womens-Vintage-Swing-Long-Dress-Ladies-Half-Sleeve-Evening-Party-Skater-Ladies-Elegant-Maxi-Dresses.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 style="color:darkorange"class="card-title">Fashion Designing</h5>
                          
                          <a href="#" class="btn btn-warning">Purchase</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" style="background-color:rgb(161, 22, 115)" >
                        <img height="350px"src="https://wallpaperaccess.com/full/127346.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 style="color:darkorange"class="card-title">BA English Literature</h5>
                          
                          <a href="#" class="btn btn-warning">Purchase</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" style="background-color:rgb(161, 22, 115)" >
                        <img height="350px"src="https://c8.alamy.com/comp/2g56e86/broadcast-journalist-2g56e86.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 style="color:darkorange"class="card-title">BJMC</h5>
                          
                          <a href="#" class="btn btn-warning">Purchase</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" style="background-color:rgb(161, 22, 115)" >
                        <img height="350px" src="https://img.freepik.com/free-photo/lab-set-chemistry-with-colored-liquids-them-glassware-biology-equipment_482257-44879.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 style="color:darkorange"class="card-title">BSc Chemistry</h5>
                          
                          <a href="#" class="btn btn-warning">Purchase</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" style="background-color:rgb(161, 22, 115)" >
                        <img src="https://www.picclickimg.com/uSAAAOSw8xdiwZI~/Physics-Teaching-Equipment-Mefix-Tape-Ticker-Electromagnetic-Dotting.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 style="color:darkorange"class="card-title">BSc Physics</h5>
                          
                          <a href="#" class="btn btn-warning">Purchase</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card" style="background-color:rgb(161, 22, 115)" >
                        <img height="250px" src="https://cdn.wallpapersafari.com/67/79/9arpdx.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 style="color:darkorange"class="card-title">BSc Mathematics</h5>
                          
                          <a href="#" class="btn btn-warning">Purchase</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
