<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div *ngFor="let i of data" class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">
                    
                
                  <div class="card" >
                    <div class="card-body">
                      <h5 class="card-title">{{i.courseTitle}}</h5>
                      <br />
                      <h5 class="card-title">ID : {{i._id}}</h5>
                      
                      
                      </div>
                      <h6 class="card-subtitle mb-2 text-muted">{{i.courseDate}}</h6>
                      <p class="card-text">{{i.courseDescription}} </p>
                      <a href="#" class="card-link">{{i.courseVenue}}</a>
                      <a href="#" class="card-link">{{i.courseDate}}</a>
                    </div>
                  </div>
                
                
            </div>
        </div>
    </div>
</div>
